<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/coursemanager.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
    />
    <title>Course Manager</title>
  </head>
  <body>
    <nav>
      <ul class="side-bar">
        <li>
          <a href="/"> <i class="fa fa-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="/student-manager">
            <i class="fa fa-user"></i>Student Manager</a
          >
        </li>
        <li>
          <a href="/coursemanager"><i class="fa fa-file"></i>Course Manager</a>
        </li>
        <li>
          <a href="/course-registration"
            ><i class="fa fa-cube"></i>Course Registration</a
          >
        </li>
      </ul>
    </nav>
    <div class="main">
      <div class="header">
        <div class="logo">
          <img
            src="img/CrescentLogo.jpeg"
            alt="Crescent Logo"
            style="width: 30px; height: 30px"
          />
          <p>
            Crescent University <br />
            Abeokuta (CUAB)
          </p>
        </div>
        <div>
          <H3>Welcome Back Admin</H3>
        </div>
        <div class="menu-icon">
          <i class="fa fa-navicon"></i>
        </div>
      </div>
      <div class="container">
        <div class="search-content">
          <input type="search" name="search" id="search" />
          <!-- <i class="fa fa-search"></i> -->
        </div>
        <div class="btn-group">
          <button type="submit" class="code-btn" id="code-btn">
            <i class="fa fa-search"></i>Search
          </button>
          <button type="submit" class="fetch-btn">
            <i class="fa fa-folder-open"></i
            ><a href="/coursemanager">Fetch All Courses</a>
          </button>
        </div>
      </div>
      <div class="table-container">
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="serial-no">S/NO</th>
                <th class="matric-no">Course Code</th>
                <th>Course Title</th>
                <th>Course Unit</th>
                <th>Course Status</th>
                <th>Department</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody id="display_data">
              <% if (results.length !== 0) { %>
              <div>
                <% for (let i = 0; i < results.length; i++) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= results[i].CourseCode %></td>
                  <td><%= results[i].CourseTitle %></td>
                  <td><%= results[i].CourseUnit %></td>
                  <td><%= results[i].CourseStatus %></td>
                  <td><%= results[i].Department %></td>
                  <td><%= results[i].Level %></td>
                </tr>
                <% } %>
              </div>
              <% } else { %>
              <h2>No data</h2>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="js/coursescript.js"></script>
  </body>
</html>
