<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/coursemanager.css" />
    <!-- Datatable plugin CSS file -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
    />
    <title>Course Manager</title>
    <!-- jQuery library file -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>

    <!-- Datatable plugin JS library file -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"
    ></script>
  </head>
  <body>
    <%- include('layouts/sidebar') %>
    <div class="main">
      <%- include('layouts/header') %>
      <div class="container">
        <!-- <div class="btn-group">
          <button type="submit" class="code-btn" id="code-btn">
            <i class="fa fa-search"></i>Search
          </button>
          <button type="submit" class="fetch-btn">
            <i class="fa fa-folder-open"></i
            ><a href="/coursemanager">Fetch All Courses</a>
          </button>
        </div> -->
      </div>
      <div class="table-container">
        <div class="table">
          <table id="my_table">
            <thead>
              <tr>
                <th class="serial-no">S/NO</th>
                <th class="matric-no">Course Code</th>
                <th>Course Title</th>
                <th>Course Unit</th>
                <th>Course Status</th>
                <th>Department</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody id="display_data">
              <% if (results.length !== 0) { %>
              <div>
                <% for (let i = 0; i < results.length; i++) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= results[i].CourseCode %></td>
                  <td><%= results[i].CourseTitle %></td>
                  <td><%= results[i].CourseUnit %></td>
                  <td><%= results[i].CourseStatus %></td>
                  <td><%= results[i].Department %></td>
                  <td><%= results[i].Level %></td>
                </tr>
                <% } %>
              </div>
              <% } else { %>
              <h2>No data</h2>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      /* Initialization of datatable */
      $(document).ready(function () {
        $('#my_table').DataTable({
          responsive: true,
        });
      });
    </script>
  </body>
</html>
