<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('layouts/sidebar') %>
    <div class="main">
      <%- include('layouts/header') %>
      <div>
        <div class="boxes">
          <div class="box-1">
            <h3>All Students</h3>
            <p><%= allStudents %></p>
          </div>
          <div class="box-2">
            <h3>All Courses</h3>
            <p><%= allCourses %></p>
          </div>
          <div class="box-3">
            <div>
              <h3>
                Registered <br />
                Students
              </h3>
            </div>
            <div><p><%= allRegistered %></p></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
