<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/studentmanager.css" />
    <link rel="stylesheet" href="/css/courseregistration.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
    />
    <title>Examination Pass</title>
  </head>
  <body>
    <%- include('layouts/sidebar') %>
    <div class="main">
      <%- include('layouts/header') %>
      <div class="table-info">
        <div class="search-bar">
          <h3>Matric No</h3>
          <input type="text" id="search_input" required />
          <button type="submit" id="sub_btn">Fetch</button>
        </div>
        <div id="student_info">
          <% if (studentData && examPass) { %>
          <div>
            <table>
              <caption style="margin-bottom: 0.5rem">
                STUDENT INFO
              </caption>
              <tr>
                <th>MATRIC NO:</th>

                <td><%= studentData[0].MatriculationNo %></td>
                <th>FULL NAME:</th>
                <td>
                  <%= studentData[0].Surname + ' ' + studentData[0].Middlename +
                  ' ' + studentData[0].Firstname %>
                </td>
              </tr>
              <tr>
                <th>COLLEGE:</th>
                <td><%= studentData[0].College %></td>
                <th>DEPARTMENT:</th>
                <td><%= studentData[0].Department %></td>
              </tr>
              <tr>
                <th>PROGRAMME:</th>
                <td><%= studentData[0].Programme %></td>
                <th>LEVEL:</th>
                <td><%= studentData[0].Level %></td>
              </tr>
              <tr>
                <th>SESSION:</th>
                <td>2023/2024</td>
                <th>SEMESTER:</th>
                <td>FIRST</td>
              </tr>
              
            </table>
            <div>
              <div style="margin: 1rem 0">
                <div class="print_check">
                  <label for="is_printed">Print Check</label>
                  <input
                  type="checkbox"
                  name="is_printed"
                  id="is_printed"
                  data-printed_id="<%= examPass[0].id %>"
                  <% if (examPass[0].isPrinted === '1') { %>checked<% } %>
                />
                </div>
                <div>
                  <button type="button" id="generate">Generate</button>
                </div>
              </div>
            </div>
          </div>
          <% } else { %> <% } %>
        </div>
      </div>
    </div>

    <script src="/js/exampass.js"></script>
  </body>
</html>
