<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Form</title>
    <link rel="stylesheet" href="/css/courseform.css" />
  </head>
  <body>
    <%if(data.length === 0){%>
      <h1>No Courses Registered</h1>
    <%}else{%>
      <div class="container">
        <div>
          <header>
            <div class="logo">
              <img src="/img/CrescentLogo.jpeg" alt="school-logo" />
            </div>
            <div class="cuab">
              <h1 style="letter-spacing: .05rem; font-size: 1.8rem;">CRESCENT UNIVERSITY, ABEOKUTA</h1>
              <p>Citadel of Academic and Moral Excellence</p>
              <p>KLM 5, AYETORO ROAD, LAFENWA, ABEOKUTA, OGUN STATE.</p>
              <p>P.M.B 2104, SAPON, ABEOKUTA, OGUN STATE.</p>
              <p class="add-web-wrapper">
                <span>E-mail: info@cuab.edu.ng</span>
                <span>Website: www.cuab.edu.ng</span>
              </p>
            </div>
            <div class="passport">
              <div class="box"></div>
            </div>
          </header>
          <section class="student-info">
            <table>
              <caption  style="margin-bottom: 0.5rem">
               <span  style="margin-bottom: 0.2rem; font-size: 1.1rem">  EXAMINATION PASS - UNDERGRADUATE(FULL TIME)</span> <br/>
                <span style="font-size: 0.8rem;">PLEASE DO NOT WRITE ON EITHER SIDE OF THIS FORM</span>
              </caption>
              <tr>
                <th>MATRIC NO:</th>
                <td><%=data[0].MatriculationNo.toUpperCase()%></td>
                <th>FULL NAME:</th>
                <td>
                  <%=data[0].Surname + ' ' + data[0].Firstname + ' ' +
                  data[0].Middlename%>
                </td>
              </tr>
              <tr>
                <th>COLLEGE:</th>
                <td><%=data[0].College%></td>
                <th>DEPARTMENT:</th>
                <td><%=data[0].Department%></td>
              </tr>
              <tr>
                <th>PROGRAMME:</th>
                <td><%=data[0].Programme%></td>
                <th>LEVEL:</th>
                <td><%=data[0].stdLevel%></td>
              </tr>
              <tr>
                <th>SESSION:</th>
                <td>2023/2024</td>
                <th>SEMESTER:</th>
                <td>FIRST</td>
              </tr>
            </table>
          </section>
          <div class="relative-spacing">
            <section class="student-course">
              <table>
                <caption style="margin-bottom: 0.4rem;">
                  REGISTERED COURSES FOR EXAMINATION
                </caption>
                <thead>
                  <tr>
                    <th class="serial-no">S/NO</th>
                    <th class="course-code">
                      COURSE <br />
                      CODE
                    </th>
                    <th>COURSE TITLE</th>
                    <th class="autoo">UNIT</th>
                    <th class="autoo">STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length > 0){%> <% for(let i = 0; i < data.length;
                  i++){%> <% const item = data[i]%>
                  <tr>
                    <td><%= i + 1%></td>
                    <td><%= item.CourseCode%></td>
                    <td><%= item.CourseTitle%></td>
                    <td><%= item.CourseUnit%></td>
                    <td><%= item.CourseStatus%></td>
                  </tr>
                  <%}%> <%}%>
                </tbody>
              </table>
              <% let sum = data.reduce((accumulator, currentValue) => { return accumulator + currentValue.CourseUnit; }, 0); %>
              <p class="total-units">Total Number of Unit Registered: <%= sum %></p>
            </section>
            <section class="authorization">
              <div class="student-signature">
                <p class="std-signature-title">
                  Student Signature: ___________________________________
                </p>
                <p style="text-align: center; font-size: 14px; margin-top: 1rem;">
                  FOR OFFICE USE ONLY
                </p>
              </div>
              <div class="qr-flex">
                <div>
                  <div class="line-1">
                    <div>___________________________________</div>
                    <span>Bursary Authorization</span>
                  </div>
                  <div>
                    <div class="line">___________________________________</div>
                    <span>College Authorization</span>
                  </div>

                </div>
                
                <div>
                  <img style="width: 150px;" src=<%=qrcode%> alt="qrcode" >
                </div>
                <div>
                  <div class="line-2">
                    <div>___________________________________</div>
                    <span>Department Authorization</span>
                  </div>
                  <div>
                    <div class="line">___________________________________</div>
                    <span>Admission Office Authorization</span>
                  </div>
                </div>
              </div>
              <div>
                <a href="/exampass">Back to Examination Pass</a>
              </div>
            </section>
          </div>
        </div>
        
      </div>
    <%}%>
  </body>
</html>
