<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/studentmanager.css" />
    <!-- Datatable plugin CSS file -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
    />
    <title>Dashboard</title>
    <!-- jQuery library file -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>

    <!-- Datatable plugin JS library file -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"
    ></script>
  </head>
  <body>
    <%- include('layouts/sidebar') %>
    <div class="main">
      <%- include('layouts/header') %>
      <div class="add-new">
        <button>Add Student</button>
      </div>
      <div class="table-info">
        <div class="table-container">
          <table id="my_table">
            <thead>
              <tr>
                <th class="serial-no">S/NO</th>
                <th class="matric-no">Matric No</th>
                <th>Full Name</th>
                <th>Programme</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody id="show_data">
              <% if (results.length !== 0) { %>
              <div>
                <% for (let i = 0; i < results.length; i++) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= results[i].MatriculationNo %></td>
                  <td>
                    <%= results[i].Surname + ' ' + results[i].Middlename + ' ' +
                    results[i].Firstname %>
                  </td>
                  <td><%= results[i].Programme %></td>
                  <td><%= results[i].Level %></td>
                </tr>
                <% } %>
              </div>
              <% } else { %>
              <h2>No data</h2>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
    <script>
      /* Initialization of datatable */
      $(document).ready(function () {
        $('#my_table').DataTable({
          responsive: true,
        });
      });
    </script>
  </body>
</html>
